*{margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  font-family: "Montserrat", sans-serif;
}

/* UTILITIES */

.debug{
  background-color: lightgreen;
  border: 1px solid black;
}

.dflex{
  display: flex;
}

.overauto{
  overflow: auto;
}

.none{
  display: none;
}

.primary-color{
  background-color: rgb(20, 25, 34);
}

.secondary-color{
  background-color: rgb(40, 40, 40);
}

.black{
  background-color: black;
}

.utility-color{
  background-color: rgb(8, 11, 18);
}


/* MAIN */
main{
  height:calc(100vh - 90px);
}
.homeselect{
  height: 100%;
  width: 100vw;
}

.sidebar h3{
  margin: 20 0 20 0;
  color: white;
}

.topbar{
  position: sticky;
  top: 0;
  left: 0;
  width: 100%;
  height: 80px;
  justify-content: flex-end;
  align-items: center;
  z-index: 999;
  opacity: 0.8;
}

.topbar a{
  text-decoration: none;
  border: 1px solid white;
  color: white;
  border-radius: 30px;
  margin-right: 20px;
  padding: 13 30 13 30;
  font-size: bold;
}

.topbar a:hover{
  font-size: 1.2rem;
}

.sidebar{  
  width: 230px; 
  height: 100%; 
  overflow: auto;   
}

.fixtop{
  height: calc(100% - 120px);
  overflow: auto;
  padding: 20px;
  color: rgb(124, 124, 124);
} 
  
.fixtop ul li{
    list-style: none;
    color: rgb(124, 124, 124);
    margin: 10 0 10 0;
    font-weight: bold;    
}

.fixtop ul li:hover{
  color: white;
  cursor: pointer;
}

.logo{ 
  width: 70%;
  padding-top: 10px;}

.logo img{
  width: 100%;
  margin: 10 0 10 10;    
}

.logosmall{
  display: none;
}

.icon img{
  width: 30px;
  vertical-align: middle;
  margin-right: 5px;
  color: rgb(124, 124, 124);
}

.playtitl{
  align-items: center;  
}

.playtitl p{
  margin-left: 10px;
  font-weight: bold;
}

.playtitl:hover{
  color: white;
  cursor: pointer;   
}



.playlistname ul li{
  margin-top: 20px;
}

.box{
  background-color: rgb(163, 163, 163);
  text-align: center;
  color: black;
  font-weight: bold;
  font-size: 2rem;
  padding: 0 10 0 10;
}

.fixbot{  
  height: 120px;
  width: 100%;
  padding: 25px;  
}

.download{
  border-bottom: 1px solid grey;
  padding-bottom: 10px;  
}

.download a{
  text-decoration: none;
  color: rgb(102, 102, 102);
  font-weight: bold;
  font-size: 0.8rem;
}

.download a:hover{
  color: white;
}

.download img{
  width: 15px;
  margin-right: 10px;
  vertical-align: middle;
  }

.user{  
  padding-top: 10px;
  text-align: left;
  color: white;
  font-weight: bold; 
}

.user img{ 
  margin-right: 10px;
  width: 30px;
  background-color: gray;
  border-radius: 25px;
  vertical-align: middle;
}

/* MAIN right bar */
.but{
  position: relative;
}

.buttbar{
  position: absolute;
  display: none;
  color: rgb(20, 25, 34);
  border-bottom: 1px solid lightgreen;
  padding: 0;
}

.but:hover .buttbar{
  display: block;
}


.navigator{
  align-items: center;
  justify-content: center;
}

.navigator ul li{
  list-style: none;  
  color: rgb(128, 130, 135);
  font-weight: bold;
  margin: 20px;  
 }

 .navigator ul li:hover{
  color: white;
  cursor: pointer;
  border-bottom: 1px solid lightgreen 20px;
 }

.maincont{    
  width: calc(100% - 230px);
  overflow: auto;     
}

.musicsel{
  width: 100%;
}

.musiclist{ 
  
  flex-wrap: wrap;  
  padding: 20px; 
}

.musicsel h1{
  padding: 20px;
  color: white;  
}

.musicsel span{
  padding: 20px;
  color: rgb(126, 128, 132);
  font-weight: bold;
  font-size: 0.9rem;  
}

.cards{
  padding: 10 20 10 0;
  width: calc(100% / 6);
  color: white;  
}

.cards img{
  width: 100%;
}

.discimg{
  position: relative;
}

.discimg i{
  color: gray;
  font-size: 50px;
}

.cards .playicon{
  position: absolute;
  display: none;
  top: 50%;
  left: 50%;
  transform: translate( -50% , -50%);    
}

.cards:hover .playicon{
  display: block;   
}

.cards:hover img{
  opacity: 0.2;
}

.round img{
  border-radius: 50%;
}

.descript{
  text-align: center;
  font-weight: bold;  
}

.descript p{
  margin: 20 0 20 0;
  font-size: 1.2rem;
}

.navigator ul li{
 list-style: none;
 justify-content: center;
  align-items: center;
  flex-wrap: wrap; 
}

/* Footer */

.footot{
  justify-content: space-between;  
  gap: 1rem;
  background-color: rgb(40, 40, 40);
  height: 90px;
  
}

.play{
  padding: 20 10 20 10; 
  align-items: center;
}

.footleft span:hover{
  color: white;
  text-decoration: underline;
  cursor: pointer;
}

.play p{
  color: white;
  font-weight: bold;  
}

.play span{
  color: rgb(126, 128, 132);
  font-weight: bold;
}

.play img{
  width: 50px;
  margin-right: 10px;
}

.playbar{
  width: 50%;
  justify-content: center; 
  align-items: center; 
  flex-wrap: wrap;
}



.playbutt{
  justify-content: center;
  align-items: center;  
  font-size: 1.5rem;
  color: white;
  font-size: bold;
  height: 50%;
  width: 100%;  
}

.playbutt i{
  margin: 10 20 10 20;
}

.playbutt i:nth-child(3){
  font-size: 1.8rem;  
}

.playbutt i:nth-child(3):hover{
  font-size: 2rem;
  cursor: pointer;
}

.timebar{ 
 justify-content: center;
 align-items: center;
 width: 100%;
 height: 50%;  
}

.timebar span{
  font-weight: bold;
  font-size: 0.8rem;
  color: white;
  margin: 0 20 0 20;
}

.bar{
  position: relative;  
  border-bottom: 4px solid gray;
  width: 40%; 
  border-radius: 30px; 
}

.whitebar{
  position: absolute;
  border-bottom: 4px solid white;
  left: 0;
  width: 30%;
  border-radius: 30px; 
}

.footicon{   
  margin-left: 20px;  
}

.footicon i{  
  color: rgb(135, 135, 135);
  margin: 0 10 0 10;
}

.footicon i:hover{
  color: white;
  cursor: pointer;
}

.volume{
  align-items: center;
  margin-right: 20px;
}

.volumeup{
  position: relative;  
  border-bottom: 4px solid gray;
  width: 100px; 
  border-radius: 30px;
}

.volumetot{
  position: absolute;
  border-bottom: 4px solid white;
  left: 0;
  width: 30%;
  border-radius: 30px;
}

.bar, .volumebar:hover{
  cursor: pointer;
}

.volumeup:hover .volumetot{
  border-bottom: 4px solid lawngreen;
}

.bar:hover .whitebar{
  border-bottom: 4px solid lawngreen;
}

/* MEDIA QUERY */


@media screen and (max-width: 1100px){
  .cards{
    width: calc(100% / 4)
  }
  .navigator ul li{
    width: calc(100% / 6);
  }
}

@media screen and (max-width: 900px){
  .cards{
    width: calc(100% / 2)
  }
}

@media screen and (max-width: 600px){
  .sidebar{    
    width: 50px;
    padding: 0;
  }

  .fixtop{
    margin: 0;
    padding: 10px;
  }

  .fixbot{    
    margin: 0;
    padding: 10px;
  }

  .fixbot .download{    
    border: 0;    
    margin: 40px 0 0 5px;
  }

  .fixbot span, a{
    display: none;    
  }

  .logo{
    display: none;
  }

  .logosmall{
    display: block;
    width: 30px;
  }

  .playtitl, .playlistname, h3{
    display: none;
  }

  .fixbot a, span{
    display: none;
  }

  .maincont{
    width: calc(100% - 50px);
  }
}