*{margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  font-family: "Montserrat", sans-serif;
}

/* UTILITIES */

.debug{
  background-color: lightgreen;
  border: 1px solid black;
}

.dflex{
  display: flex;
}

.overauto{
  overflow: auto;
}

.none{
  display: none;
}

.primary-color{
  background-color: rgb(20, 25, 34);
}

.secondary-color{
  background-color: rgb(40, 40, 40);
}

.black{
  background-color: black;
}

.utility-color{
  background-color: rgb(8, 11, 18);
}


/* MAIN */
main{
  height:calc(100vh - 90px);
}
.homeselect{
  height: 100%;
  width: 100vw;
}

.topbar{
  width: 100%;
  height: 80px;
  justify-content: flex-end;
  align-items: center;
}

.topbar a{
  text-decoration: none;
  border: 1px solid white;
  color: white;
  border-radius: 30px;
  margin-right: 20px;
  padding: 13 30 13 30;
  font-size: bold;
}

.sidebar{  
  width: 230px; 
  height: 100%;    
}

.fixtop{
  height: calc(100% - 120px);
  overflow: auto; 
  }

.fixbot{  
  height: 120px;
  width: 100%;
  padding: 25px;  
}

.download{
  border-bottom: 1px solid lightgrey;
  padding-bottom: 10px;
  
}

.download a{
  text-decoration: none;
  color: white;
}

.download img{
  width: 15px;
  margin-right: 10px;
  vertical-align: middle;
  }

.user{  
  padding-top: 10px;
  text-align: left;
  color: white;
}

.user img{ 
  margin-right: 10px;
  width: 30px;
  background-color: gray;
  border-radius: 25px;
  vertical-align: middle;
}

.navigator ul li{
  list-style: none;
  display: inline-block; 
 }

.maincont{  
  width: calc(100% - 230px);
  overflow: auto;     
}

.musicsel{
  width: 100%;
}

.musiclist{ 
  
  flex-wrap: wrap;  
  padding: 20px; 
}

.musicsel h1{
  padding: 20px;
}

.musicsel span{
  padding: 20px;
}

.cards{
  padding: 10 20 10 0;
  width: calc(100% / 6);
}

.cards img{
  width: 100%;
}

.descript{
  text-align: center;
}

.navigator ul li{
 list-style: none;
 display: inline-block; 
}

/* Footer */

.footot{
  background-color: rgb(40, 40, 40);
  height: 90px;
  width: 100vw;
}